:markdown
  ## Senior

  Senior Developers are experienced developers who meet the following requirements:

  1. Technical Skills
      * Are able to write modular, well-tested, and maintainable code
      * Know a domain really well and radiate that knowledge
      * Contribute to one or more complementary projects
      * Deep expertise within at least one programming environment
      * Basic proficiency in at least one additional programming environment
  2. Leadership
      * Begins to show architectural perspective
      * Proposing new ideas, performing feasibility analyses and scoping the work
      * Fully capable of taking substantial features from concept to shipping
      * Helps set and maintain professional standards (e.g. code quality) for the entire organization
  3. Code quality
      * Leaves code in substantially better shape than before
      * Fixes bugs/regressions quickly
      * Monitors overall code quality/build failures
      * Creates test plans
      * Work doesn't need extensive review for common issues
  4. Communication
      * Provides thorough and timely code feedback for peers
      * Able to communicate clearly on technical topics
      * Keeps issues up-to-date with progress
      * Helps guide other merge requests to completion
      * Helps with recruiting
  5. Performance & Scalability
      * Excellent at writing production-ready code with little assistance
      * Able to write complex code that can scale with a significant number of users
